@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

.mainHeaderss {
  height: 6rem;
  background-color: #00072d;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 10%;
}

.backbtn {
  width: 2rem;
  height: 1rem;
  margin: 1rem 0;
  margin-top: 0;
}

.backbtn:hover {
  cursor: pointer;
}

.menuIcon {
  background: url("./images/List.svg");
  width: 3rem;
  height: 3rem;
  background-repeat: no-repeat;
  background-size: contain;
  display: none;
}

.menuIcon:hover {
  transform: scale(95%);
  cursor: pointer;
}

#sidebar {
  display: none;
}

.links {
  text-decoration: none;
  color: black;
}

.links:hover {
  color: blue;
}

.logoContainer {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 3.5rem;
  margin: auto;
  width: 20rem;
  height: 100%;
}

.mainNav {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: max-content;
  margin: auto;
  max-width: 1650px;
}

.mainNavItem {
  padding: 1rem 2rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.25rem;
  text-decoration: none;
  color: black;
  text-align: center;
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  color: blue;
  cursor: pointer;
}

/* //body */

.mainHeader {
  height: 6rem;
  background-color: #00072d;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  /* padding: 0 10%; */
}

.logoContainer {
  font-family: "Courier Prime";
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.5rem;
  margin: auto;
  color: #ffffff;
}

.container {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  width: 80%;
  height: 100%;
  margin: 3rem auto;
  max-width: 1650px;
  margin: auto;
  margin-top: 2rem;
}

.heading {
  text-align: left;
  padding-left: 5rem;
  height: 5rem;
  background: linear-gradient(210.65deg, #40e0d0 0%, #a9dbb8 100%);
  color: #ffffff;
  font-size: 3rem;
}

.sub-heading {
  width: 90%;
  margin: 2rem auto;
  font-weight: 500;
  line-height: 2.8rem;
  font-size: 2.5rem;
}

.content {
  width: 90%;
  margin: 2rem auto;
  font-weight: 300;
  line-height: 2.8rem;
}

.list {
  width: 90%;
  margin: 2rem auto;
  font-weight: 300;
  line-height: 2.8rem;
}

/* footer design */

.footer-border {
  left: 0;
  width: 100%;
  margin: 0;
  height: 1px;
  border-top: 1px solid black;
  margin-bottom: 1rem;
}

.main-footer {
  width: 100%;
  padding: 0 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1650px;
  margin: auto;
}

.footer-text_container {
  width: 35%;
  height: max-content;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75rem;
  text-align: left;
  /* padding: 2rem 0;
  margin: 2rem 0; */
}

.footer-text {
  font-size: 1.5rem;
  text-decoration: none;
  text-align: left;
}

.social-media_links-container {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.some_text-list {
  display: flex;
  justify-content: space-around;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.25rem;
  margin: 1rem;
  width: 50%;
  height: max-content;
  margin: 1rem 0;
  flex-wrap: wrap;
}

.some_text-list-items {
  margin: 2% 4%;
}

.some_text-list-items:hover {
  color: blue;
  cursor: pointer;
}

.sm_links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: 1rem 0;
}

#smlink {
  width: 2.5rem;
  height: 2.5rem;
}

#myty {
  width: 2rem;
  height: 2rem;
}

#sm-link:hover,
myty:hover {
  cursor: pointer;
}

@media (max-width: 1200px) {
  .main-footer {
    padding: 0 5%;
  }

  .some_text-list {
    justify-content: center;
  }
}

@media (max-width: 1000px) {
  .container {
    width: 100%;
  }

  .backbtn {
    margin-left: 1rem;
  }
  .heading {
    font-size: 2rem;
    padding-left: 5%;
    display: flex;
    align-items: center;
  }

  .sub-heading {
    font-size: 1.5rem;
  }
}

@media (max-width: 750px) {
  .main-footer {
    flex-direction: column;
    align-items: center;
  }

  .social-media_links-container {
    width: 80%;
  }

  .sm_links {
    width: 100%;
    justify-content: space-around;
  }

  .footer-text_container {
    padding: 0.5rem;
    margin: 0;
    width: 100%;
  }

  .footer-text {
    text-align: center;
  }

  .social-media_links-container {
    width: 100%;
    padding: 0.5rem;
  }

  .some_text-list {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .heading {
    width: 100%;
    padding-left: 0;
    text-align: center;
    font-size: 2rem;
  }

  .sub-heading {
    font-size: 1.5rem;
  }

  .content {
    font-size: 1.3rem;
    line-height: 1.5rem;
  }

  .list {
    margin: 2rem;
    font-size: 1.3rem;
    line-height: 1.5rem;
  }

  .links {
    font-size: 1.2rem;
  }
}

@media (max-width: 500px) {
  .mainHeaderss {
    height: 4rem;
  }

  .logoContainer {
    width: 15rem;
  }

  .heading {
    width: 100%;
    padding-left: 0;
    text-align: center;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
  }

  .sub-heading {
    font-size: 1.5rem;
  }

  .list {
    margin: 2rem;
  }
}
