@keyframes chatBoxStyling {
  form {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.container {
  width: 70%;
  height: 90%;
  margin: auto;
  opacity: 0;
  animation: chatBoxStyling 0.5s forwards;
  position: relative;
  background-image: url("../images/13330702.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  top: 10%;
}
.container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.scroller {
  overflow-y: scroll;
}

.scroller::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

#chatbox {
  background: linear-gradient(259.06deg, #40e0d0 0%, #a9dbb8 99.19%);
}

@media (max-width: 1300px) {
  .container {
    width: 80%;
  }
}

@media (max-width: 950px) {
  .container {
    width: 100%;
    height: 90%;
    margin: auto;
  }
}

@media (max-width: 760px) {
  .container {
    width: 100%;
    height: 92%;
    top: 8%;
  }
}
