@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&display=swap");

.container {
  width: 70%;
  height: 10%;
  position: fixed;
  z-index: 20;
  left: 15%;
  top: 0;
  overflow: hidden;
}

.link {
  text-decoration: none;
}

.navbar {
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: #00072d;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: -10;
}

.hamberger {
  height: 2rem;
  width: 2rem;
  margin: 0rem 1rem;
  /* position: absolute;
  z-index: 100; */
}

.hamberger:hover {
  cursor: pointer;
  transform: scale(95%);
}

.btn {
  border: none;
  height: 2rem;
  width: 2rem;
  margin: 0rem 1rem;
  z-index: 100;
}

.btn:hover {
  cursor: pointer;
  transform: scale(95%);
}

.logoContainer {
  width: max-content;
  max-width: 20rem;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.logo {
  color: #ffffff;
  margin: 0 auto;
  text-align: center;
  font-family: "Courier Prime", monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 2.5rem;
  width: 100%;
  height: 100%;
}

.link {
  color: #ffffff;
  text-decoration: none;
  font-family: "Poppins";
}

.link:hover {
  cursor: pointer;
  color: #ffffff;
}

.sidebarContainer {
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
}

.backdrop {
  width: 70%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  right: 0;
  display: none;
  transition: 1s;
  z-index: 20;
  opacity: 0;
}

.sideBar {
  width: 30%;
  height: 100%;
  background-color: #00072d;
  padding: 1rem 0;
  transform: translateX(-110%);
}

.sideBarItem {
  padding: 0.5rem 2rem;
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.1rem;
  text-decoration: none;
}

.sideBarItem:hover {
  cursor: pointer;
  color: white;
}

/* styling profile */

.profileBtn {
  height: 2rem;
  width: 2rem;
  margin: 0rem 1rem;
}

.profilexBtn {
  border: none;
  height: 2rem;
  width: 2rem;
  margin: 0rem 1rem;
  z-index: 100;
}

.profileBtn:hover,
.profilexBtn:hover {
  cursor: pointer;
}

.profileContainer {
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  /* background-color: red; */
  top: 10%;
  position: absolute;
}

.profile {
  width: 35%;
  height: 100%;
  background-color: #00072d;
  padding: 1rem 0;
  transform: translateX(110%);
  position: absolute;
  right: 0;
}

.profileBackdrop {
  width: 65%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  display: none;
  transition: 1s;
  z-index: 20;
  opacity: 0;
}

/* //styling image  */

.imageContaioner {
  width: 95%;
  padding: 2%;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.image {
  height: 5rem;
  width: 5rem;
  margin-right: 10px;
  border-radius: 10px;
  background-color: white;
}

.despContainer {
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 0.75rem;
}

.name {
  color: white;
  font-size: 1.5rem;
}

.desp {
  color: white;
  font-size: 0.8rem;

  margin: 0;
}

.good {
  color: white;
  padding: 2%;
  width: 95%;
  margin: 0.5rem 0;
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.logoutcont {
  width: 100%;
  display: flex;
  justify-content: center;
}

.logout {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 17%;
  width: 8rem;
  height: 3rem;
  font-size: 1.5rem;
  background: linear-gradient(180deg, #40e0d0 0%, #a9dbb8 100%);
}

@media (max-width: 1300px) {
  .container {
    width: 80%;
    left: 10%;
  }
}

@media (max-width: 950px) {
  .container {
    width: 100%;
    left: 0%;
  }

  .sideBar {
    width: 40%;
  }

  .backdrop {
    width: 60%;
  }
  .profile {
    width: 50%;
  }

  .profileBackdrop {
    width: 50%;
  }
}

@media (max-width: 760px) {
  .navbar {
    display: flex;
    padding: 0 0.5rem;
    align-items: center;
    height: 100%;
  }
  .container {
    height: 8%;
  }
  .logoContainer {
    max-width: 15rem;
    height: 100%;
    width: max-content;
  }

  .logo {
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .hamberger {
    height: 2rem;
    width: 2rem;
    margin: 0.5rem;
  }

  .btn {
    height: 2rem;
    width: 2rem;
    margin: 0.5rem;
  }

  .sideBar {
    width: 70%;
  }

  .backdrop {
    width: 30%;
  }

  .profile {
    width: 80%;
  }

  .profileBackdrop {
    width: 20%;
  }
}

@media (max-width: 500px) {
  .logoContainer {
    max-width: 13rem;
  }
}
