.chip {
  min-width: max-content;
  width: 40px;
  height: 40px;
  background: linear-gradient(180deg, #40e0d0 0%, #a9dbb8 100%);
  border-radius: 2px;
  margin: 0.5rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

@media (max-width: 700px) {
  .chip {
    width: 60px;
    border: 1px solid #40e0d0;
    border-radius: 5px;
    margin: 1.5px;
    padding: 3px;
    font-size: 0.7rem;
    position: relative;
  }

  .xicon {
    width: 15px;
    height: 100%;
  }
}
