.bubble {
  width: max-content;
  max-width: 40rem;
  height: max-content;
  background: #00072d;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.5rem;
  color: #ffffff;
  text-align: left;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  line-height: 23px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  font-size: 1rem;
  margin: 0.5rem;
  width: 18rem;
}

.submit {
  font-size: 1rem;
  margin: 0.2rem;
  width: 10rem;
}

@media (max-width: 1400px) {
  .bubble {
    max-width: 35rem;
    border-radius: 5px;
    padding: 0.6rem 1rem;
    font-size: 1.3rem;
  }
}
@media (max-width: 1200px) {
  .bubble {
    max-width: 26rem;
    border-radius: 5px;
    padding: 0.6rem 1rem;
    font-size: 1.3rem;
  }
}

@media (max-width: 950px) {
  .bubble {
    max-width: 22rem;
    border-radius: 5px;
    padding: 0.3rem 1rem;
    font-size: 1.2rem;
  }
}

@media (max-width: 650px) {
  .bubble {
    max-width: 17rem;
    border-radius: 5px;
    padding: 0.3rem 1rem;
    font-size: 1.1rem;
  }
}
