.container {
  width: max-content;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin-left: 0.5rem;
}

.content {
  padding: 0.5rem;
  margin: 0;
  background: #00072d;
  border-radius: 5px;
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 2rem;
  word-break: break-all;
  text-decoration: none;
}

.url {
  text-decoration: underline;
  font-weight: 700;
  color: white;
}

.url:hover {
  color: white;
}
