.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  margin-left: 0.5rem;
}

.bubble {
  width: max-content;
  max-width: 40rem;
  height: max-content;
  background: #00072d;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.5rem;
  color: #ffffff;
  text-align: left;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 2rem;
}

.reaction {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.5rem;
  border-radius: 50%;
}

.reaction:hover {
  cursor: pointer;
}

.reactionPanel {
  width: 7rem;
  height: 2rem;
  border-radius: 2rem;
  margin-top: 0.5rem;
  background-color: white;
  border: 1px solid white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.thumbsUp {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  /* background: url("../images/upThumb.svg"); */
}

.thumbsDown {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
}

.thumbsDown:hover,
.thumbsUp:hover {
  cursor: pointer;
  transform: scale(110%);
}

@media (max-width: 1400px) {
  .bubble {
    max-width: 35rem;
    border-radius: 5px;
    padding: 0.6rem 1rem;
    font-size: 1.3rem;
  }
}
@media (max-width: 1200px) {
  .bubble {
    max-width: 26rem;
    border-radius: 5px;
    padding: 0.6rem 1rem;
    font-size: 1.3rem;
  }
}

@media (max-width: 950px) {
  .bubble {
    max-width: 22rem;
    border-radius: 5px;
    padding: 0.3rem 1rem;
    font-size: 1.2rem;
  }

  .reactionPanel {
    width: 5rem;
    height: 1.5rem;
  }

  .thumbsDown {
    height: 1rem;
    width: 1rem;
  }

  .thumbsUp {
    height: 1rem;
    width: 1rem;
  }
}

@media (max-width: 650px) {
  .bubble {
    max-width: 17rem;
    border-radius: 5px;
    padding: 0.3rem 1rem;
    font-size: 1.1rem;
  }
}
