@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;800&display=swap");

* {
  box-sizing: border-box;
}

.mainContainer {
  width: 100%;
  height: 100%;
  display: flex;
}

.left {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(210.65deg, #40e0d0 0%, #a9dbb8 100%);
}

.img {
  width: 25rem;
}

.right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 5%;
}

.form {
  width: 33rem;
}

.formHeading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0.5rem;
  margin-bottom: 2rem;
}

.passwordInputBox {
  width: 100%;
  height: 3.5rem;
  margin: 0.5rem;
  padding: 0 3%;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 2.5rem;
  display: flex;
  justify-content: space-between;
}

.passwordBox {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.passwordInputBoxS {
  width: 40%;
  height: 3.5rem;
  margin: 0.5rem;
  padding: 0 3%;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 2.5rem;
  display: flex;
}

.passwordInput {
  border: none;
  height: 100%;
  width: 90%;
  border-radius: 10px;
}

.passwordInput:focus {
  outline: none;
}

.passwordImg {
  width: 15px;
}

.passwordImg:hover{
  cursor: pointer;
}

.strength {
  display: inline;
  font-size: 1rem;
  font-weight: 500;
  margin: 0.5rem;
}

.pasStrength {
  margin: 0.4rem 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  width: 95%;
  margin-left: 0.5rem;
}

.dlink {
  font-size: 1rem;
  margin: 0 0.2rem;
  color: blue;
}

.dlink:hover {
  color: blue;
}

.declaration {
  font-size: 1.1rem;
}

.input {
  width: 100%;
  height: 3.5rem;
  margin: 0.5rem;
  padding: 3%;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 2.5rem;
}

.otpInput {
  width: 100%;
  height: 3.5rem;
  margin: 0.5rem;
  border-radius: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 2.5rem;
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.input:focus,
.otpInput:focus,
.passwordInput:focus {
  outline: none;
}

.errorMsg {
  font-size: 1rem;
  color: red;
  margin: 0.5rem;
}

.checkbox {
  display: flex;
  align-items: flex-start;
  margin: 0.5rem;
  font-family: "Poppins";
  font-weight: 500;
  margin-top: 2rem;
}

.checkboxtick {
  font-family: "Poppins";
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 2rem;
}

.submit {
  width: 100%;
  height: 3.5rem;
  border: 3px solid #40e0d0;
  border-radius: 10px;
  background-color: white;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #40e0d0;
  margin: 0.5rem;
  margin-top: 2rem;
}

.submit:hover {
  background-color: #40e0d0;
  color: white;
}

.login {
  width: 100%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 2rem;
  margin-top: 1.5rem;
  text-align: center;
}

.doions {
  position: absolute;
  bottom: 0;
  width: 33rem;
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.link {
  color: blue;
  font-size: 1.25rem;
  font-family: "Poppins";
  margin: 0.5rem;
  margin-top: 1rem;
}

.link:hover {
  cursor: pointer;
}

@media (max-width: 1250px) {
  .form {
    width: 25rem;
  }

  .input,
  .otpInput,
  .submit,
  .passwordInputBox,
  .passwordInputBoxS,
  .pasStrength {
    height: 2.8rem;
    margin: 0.4rem 0.5rem;
  }

  .pasStrength {
    height: max-content;
  }

  .passwordImg {
    width: 12px;
  }

  .checkbox {
    margin-top: 1rem;
  }

  .declaration,
  .link {
    font-size: 1rem;
  }

  .strength {
    margin: 0.1rem;
  }

  .doions {
    width: 25rem;
  }

  .login {
    margin: 1rem;
  }
  .checkbox {
    font-size: 1rem;
  }

  .img {
    width: 20rem;
  }
}

@media (max-width: 1000px) {
  .form {
    width: 22rem;
  }

  .input,
  .otpInput,
  .submit {
    height: 2.8rem;
    margin: 0.2rem 0.5rem;
  }

  .declaration,
  .dlink {
    font-size: 0.9rem;
  }

  .submit {
    border: 2px solid #40e0d0;
    font-weight: 400;
  }

  .doions {
    width: 22rem;
  }

  .login {
    margin: 1rem;
    font-size: 1rem;
  }
  .link {
    font-size: 1rem;
  }
  .checkbox {
    font-size: 0.9rem;
    margin-top: 2rem;
    align-items: flex-start;
  }

  .checkboxtick {
    width: 1.5rem;
    height: 1.5rem;
  }

  .img {
    width: 20rem;
  }
}

@media (max-width: 840px) {
  .mainContainer {
    flex-direction: column;
  }

  .left {
    height: 25%;
    width: 100%;
    margin: 0;
    align-items: flex-end;
  }

  .img {
    width: 25rem;
    margin-bottom: 3rem;
  }

  .right {
    height: 75%;
    width: 100%;
    padding: 0;
  }
  .form {
    margin: auto;
    width: 32.5rem;
  }

  .input,
  .otpInput,
  .submit,
  .passwordInputBox,
  .passwordInputBoxS {
    height: 3.5rem;
    margin: 0.2rem 0.5rem;
  }

  .submit {
    border: 3.5px solid #40e0d0;
    font-weight: 500;
    font-size: 1.5rem;
  }

  .login {
    margin: 1rem 0;
  }

  .doions {
    width: 32rem;
  }
}

@media (max-width: 580px) {
  .mainContainer {
    padding: 0;
    margin: 0;
  }

  .left {
    height: 15%;
  }

  .img {
    width: 16rem;
    margin-bottom: 1.5rem;
  }

  .form {
    width: 22rem;
    margin-top: 2rem;
    height: 100%;
  }

  .formHeading {
    margin: 0.1rem;
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
  }

  .input,
  .otpInput,
  .submit,
  .passwordInputBox,
  .passwordInputBoxS {
    height: 2.5rem;
    width: 95%;
    margin: 0.1rem;
    font-size: 0.8rem;
    justify-content: space-between;
  }

  .passwordBox {
    flex-direction: column;
    align-items: flex-start;
    height: max-content;
  }

  .strength {
    font-size: 0.8rem;
  }

  .pasStrength {
    font-size: 0.8rem;
    margin: 0.5rem;
  }

  .submit {
    font-weight: 300;
    font-size: 1.2rem;
    border: 1.5px solid #40e0d0;
  }

  .checkbox {
    font-size: 0.8rem;
  }

  .login,
  .link {
    font-size: 1rem;
  }

  .doions {
    width: 20rem;
    font-size: 0.8rem;
    margin: auto;
    margin-bottom: 0.5rem;
  }

  .img {
    width: 20rem;
  }

  .mainContainer {
    min-height: max-content;
  }

  .right {
    min-height: max-content;
  }
}
