.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  width: 50%;
  height: 100%;
  background: linear-gradient(210.65deg, #40e0d0 0%, #a9dbb8 100%);
}

.right {
  width: 50%;
  height: 100%;
}

.questionBox {
  position: absolute;
  width: 35%;
  height: 70%;
  overflow: hidden;
  border: 10px solid #40e0d0;
}

.quespanel {
  width: 100%;
  height: 85%;
}
.dots {
  width: 100%;
  height: 15%;
  position: absolute;
  bottom: 0;
}

@media (max-width: 1300px) {
  .questionBox {
    width: 55%;
  }
}

@media (max-width: 830px) {
  .questionBox {
    width: 75%;
  }
}

@media (max-width: 610px) {
  .questionBox {
    width: 95%;
  }
}

@media (max-width: 500px) {
  .container {
    flex-direction: column;
  }

  .left {
    width: 100%;
    height: 10%;
  }

  .right {
    width: 100%;
    height: 90%;
    padding-top: 8%;
  }

  .questionBox {
    height: 70%;
    border: 2px solid #40e0d0;
  }

  .quespanel {
    height: 90%;
  }

  .dots {
    height: 10%;
  }
}
